{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<h2>Our Services</h2>

At our Blog, we offer a range of services to share our expertise in climate, astronomy, artificial intelligence, and science:

<p><b>Content Creation:</b> Articles, guest posts, or whitepapers tailored to your audience.</p>
<p><b>Workshops & Webinars:</b> Interactive sessions on topics like sustainability, space exploration, or AI applications.</p>
<p><b>Consulting:</b> Expert advice on science communication, research, or technology implementation.</p>
<p><b>Collaborations:</b> Partner with us for projects that align with our mission.</p>
Let’s work together to inspire and educate. <a href="{% url 'contacts' %}">Contact Us</a> to learn more.</p>

{% endblock %}
